body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3e003e;
    color: #fff;
    text-align: center;
}

.header {
    padding: 15px;
    background-color: #240024;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #e0a800;
    color: #3e003e;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .btn:hover {
    background-color: #d4be7d;
}


.header h1 {
    font-size: 1.4em;
    background: #e0a800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header p {
    font-size: 1em;
    color: #ddd;
    text-align: justify;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.card {
    background-color: #1c001c;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: transform 0.3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5em;
    background: #e0a800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #e0a800;
    margin: 10px 0;
}

.card .certificate-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #240024;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

footer img {
    width: 60px;
    height: 60px;
    justify-items: center;
}


#totalHoursChart {
    width: 100%; /* Largura máxima do gráfico */
    max-width: 500px; /* Largura máxima em pixels */
    height: auto; /* Altura ajustada automaticamente */
    margin: 0 auto; /* Centraliza o gráfico */
}

/* Classe inicial para ocultar os elementos */
.hidden {
    opacity: 0;
    transform: translateY(20px); /* Move um pouco para baixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Classe para mostrar os elementos */
.show {
    opacity: 1;
    transform: translateY(0); /* Retorna à posição original */
}

/* Estilos do Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #1c001c;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #fff;
  }
  
  .modal-content p {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .modal-content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0a800;
    color: #3e003e;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: #d4be7d;
  }
  
  /* Estilos para dispositivos móveis */
  @media (max-width: 600px) {
    .modal-content {
      width: 90%;
    }
  
    .modal-content p {
      font-size: 1em;
    }
  
    .modal-content button {
      font-size: 0.9em;
    }
  }
  
 /* Inicialmente, mostra apenas o texto em português */
 .pt { display: block; }
 .en { display: none; }