/* CSS Principal */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3e003e;
    color: #fff;
    text-align: center;
}

.header {
    padding: 20px;
    background-color: #240024;
}

.header h1 {
    font-size: 1.4em;
    color: #f763a6;
    background: linear-gradient(to right, #f763a6, #7f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.header p {
    font-size: 0.7em;
    color: #ddd;
    text-align: justify;
}

.header img {
height: 60px; /*altura*/
width: 60px; /*largura*/
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    
}

.card {
    background-color: #1c001c;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 3 em;
    color: #f763a6;
    margin-bottom: 10px;
    background: linear-gradient(to right, #f763a6, #7f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p {
    font-size: 0.7em;
    color: #bbb;
    text-align: justify;
    
}

.card .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #da1e76;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .btn:hover {
    background-color: #f763a6; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a intensidade da sombra */
}

.profile {
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    border: 5px solid #494545;
    margin-bottom: 10px;
}

footer {
    background-color: #1c001c;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}